/* Common style for all divs */
div {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: white;
    font-weight: bold;
    transition: transform 0.5s, background-color 0.5s;
  }
  
  
  .div1 {
    background-color: blue;
  }
  
  .div1:hover {
    transform: rotate(280deg);
    background-color: red;
  }
  
  
  .div2 {
    background-color: green;
  }
  
  .div2:hover {
    transform: scale(1.5);
  }
  
  /* Third div */
  .div3 {
    background-color: orange;
  }
  
  .div3:hover {
    transform: translateX(50px);
    background-color: purple;
  }
  