body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #010101; 
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: repeat(3, 1fr); 
    gap: 10px;
    width: 80%;
    max-width: 500px;
    height: 400px;
}

.green {
    background: green;
}

.red {
    background: red;
}

.orange {
    background: orange;
}

.tall {
    grid-row: span 3; 
}
